body {
  margin: 0;
  font-family: Arial, sans-serif;

}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0d0d0d;
  padding: 15px 40px;
  opacity: 1;
}
.navbar-left{
  align-self: center;
}

.navbar-left a {
  margin-right: 25px;
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
  align-self: center;
}

.navbar-right {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

.navbar-right select {
  background: black;
  color: #FFFFFF;
  border: none;          
  background: #0d0d0d;   
  color: white;          
  font-size: 16px;
  padding: 6px 10px;
  outline: none;       
}

.navbar-right button {
  background-color: transparent;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 14px;
}

.main{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 10px;
  width: 100px;
  max-width: 1920px;
  height: auto;
  min-height: 724px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;

}
.content {
  display: flex;

  align-items: center;
  justify-content: center;
  gap: 40px;
  background-color: black;
}

.cont {
  width: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 40px;
  text-align: left;
}

.cont h1 {
  font-size: 85px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 20px;
  line-height: 1.2;
  font-family: 'Monda', sans-serif;
}

.cont p {
  font-size: 16px;
  color: #ccc;
  margin-bottom: 20px;
  max-width: 100%;
  line-height: 1.6;
  font-family: 'Inter', sans-serif;
}

.cont button {
  width: fit-content;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  background: none;
  border: none;
  color: #fff;
  font-size: 26px;
  font-weight: 600;
  cursor: pointer;
  padding: 0;
  font-family: 'Inter', sans-serif;
}


.content img {
  width: 50%;
  height: auto;
  object-fit: cover;
}

.content button::after { 
  content: "\2192"; 
  display: inline-flex; 
  flex-wrap: wrap; 
  align-items: center; 
  justify-content: center; 
  width: 32px; 
  height: 32px; 
  background-color: #00bfff; 
  color: #fff; 
  border-radius: 50%; 
  font-size: 18px;
}

.stats-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #111;
  padding: 40px 20px;
  width: auto;
  flex-wrap: wrap;
  gap: 30px;
}

.stat {
  text-align: center;
  flex: 1 1 150px;
  min-width: 150px;
}

.stat h2 {
  font-size: 55px;
  font-style: bold;
  margin: 0;
  color: #fff;
  font-family: 'Inter', sans-serif;
}

.stat p {
  margin: 5px 0 0;
  font-size: 20px;
  color: #aaa;
  font-family: 'Inter', sans-serif;
}

.advantages {
  background-color: black;
  color: white;
    text-align: center;
    padding: 60px 20px;
    
  }

.advantages h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
 font-family: 'Inter', sans-serif;
}

.advantages p {
  color: #aaa;
  max-width: 500px;
  margin: 0 auto 40px;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
  width: 1431;
  height: 395;
  gap: 34px;
  opacity: 1;


}

.card {
  background-color: #111;
  padding: 30px 20px;
  text-align: left;
}

.card .icon {
  margin-bottom: 15px;
  color: #4dabf7;
}

.card h3 {
  font-size: 26px;
  margin-bottom: 10px;
  font-weight: bold;
  font-family: 'Inter', sans-serif;
}

.card p {
  color: #aaa;
  font-size: 20px;
  line-height: 1.5;
  font-family: 'Inter', sans-serif;
}

.team {
  background-color: black;
}

.team img{
  max-width: 100%;
  height: auto;
}

.box {
background-color: black;
color: white;
  text-align: center;
  padding: 60px 20px;
}
.box h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: 'Inter', sans-serif;
}

.box p {
  color: #aaa;
  max-width: 500px;
  margin: 0 auto 40px;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
}

.space {
  width: 1513;
  height: 395;
  gap: 34px;
  angle: 0 deg;
  opacity: 1;
  background-color: black;
}


.bulid {
  display: flex;      
  justify-content: center; 
  gap: 20px;         
  margin-top: 20px;
  background-color: black;
  
}

.bulid img{
  width: 100%;
  display: flex;   
  flex-wrap: wrap;   
  justify-content: center; 
  gap: 20px;           
  margin-top: 20px;
}

.tex {
padding-top: 75px;
padding-right: 200px;
padding-bottom: 75px;
padding-left: 200px;
background-color: black;
opacity: 1;
color: white;
width: 1920;
height: 438;
gap: 78px;
}

.tex h3{
  margin: 0;
  font-size: 20px;
  min-width: 200px;
  white-space: nowrap;

}

.tex p{
  flex: 1;
  flex-wrap: wrap;
  margin: 0 20px;
  font-size: 16px;
  color: #ccc;

}

.tex img{
  width: 40px;
  height: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.team1 {
  background-color: black;
}

.team1 img{
  max-width: 100%;
  height: auto;
  padding-bottom: 0;
  margin-bottom: 0;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #0d0d0d;
  padding: 15px 40px;
  opacity: 1;
  
  
}

.footer-left a {
  margin-right: 25px;
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
}

.footer-right {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

.footer-right select {
  background: black;
  color: #FFFFFF;
}



@media (max-width: 1024px) {
  .content {
    flex-direction: column;
    text-align: center;
    padding: 20px;

  }

  .cont, .content img {
    width: 100%;
  }

  .cont h1 {
    font-size: 20px;
  }

  .cont p, .cont button {
    font-size: 12px;
  }

  .content button::after { 
    font-size: 10px;
    width: 22px; 
    height: 22px; 
  }

  .stats-container {
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 0%;
    padding-bottom: 0%;
  }

  .cards {
    grid-template-columns: 1fr 1fr;
  }

  .tex {
    padding: 40px 20px;
  }

}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }

  .navbar-left, .navbar-right {
    flex-direction: column;
    gap: 10px;
  }

  .content {
    flex-direction: column;
    padding: 20px;
    gap: 20px;
  }

  .cont h1 {
    font-size: 20px;
  }

  .cont p, .cont button {
    font-size: 12px;
  }

    .content button::after { 
    font-size: 10px;
    width: 22px; 
    height: 22px; 
  }
  

  .stats-container {
    flex-direction: column;
    text-align: center;
    gap: 1px;
    margin-bottom: 0%;
    padding-bottom: 0%;
  }

  .cards {
    grid-template-columns: 1fr;
  }

  .tex {
    padding: 20px;
    flex-direction: column;
  }

  .tex div {
    flex-direction: column;
    text-align: center;
  }

  .footer {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }

  .footer-left, .footer-right {
    flex-direction: column;
    gap: 10px;
  }
}

@media (max-width: 1024px) {
    .navbar {
        padding: 15px 20px;
    }
    
    .content {
        gap: 40px;
        font-size: 20px;
    }
    
    .stats-container {
        justify-content: center;
        margin-bottom: 0%;
        padding-bottom: 0%;
    }
    
    .tex div {
        align-items: center;
    }

@media (max-width: 768px) {
    .navbar {
        padding: 15px;
    }
    
    .navbar-left {
        flex-direction: column;
        gap: 10px;
        margin: 10px 0;
    }
    
    .navbar-left a {
        margin-right: 0;
    }
    
    .navbar-right {
        gap: 15px;
    }
    
    .cont {
        padding: 0 15px;
    }
    
    .stat h2 {
        font-size:18px;
    }

    .stat p {
      font-size: 16px;;
    }
    
    .advantages h2,
    .box h2 {
        font-size: 16px;
    }
    
    .advantages p, .box p {
      font-size: 12px;
    }
    .cards {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .card h3 {
      font-size: 16px;
    }

    .card p {
      font-size: 14px
    }

    .icon img{
      width: 10%;
      height: auto;
    }
    
    .tex {
        padding: 40px 15px;
    }

      .tex h3{
    font-size: 14px;
  }

  .tex p {
    font-size: 12px;
  }
    .tex img {
      width: 20px;
      height: auto;
    }
    .footer {
        padding: 20px 15px;
        gap: 20px;
    }
    
    .footer-left {
        flex-direction: column;
        gap: 10px;
    }
    
    .footer-left a {
        margin-right: 0;
    }
}

@media (max-width: 480px) {
    .cont h1 {
        font-size: 25px;
    }
    
    .stats-container {
        flex-direction: column;
        
    }
    
    .stat {
        width: 100%;
    }
    
    .bulid img {
        max-width: 100%;
    }
}

@media (max-width: 768px) {
  .bulid {
    flex-direction: column;
    gap: 16px;
  }

 .bulid img {
    flex: 0 0 100%;
    height: auto; 
  }
}

.menu-toggle {
  display: none;
  font-size: 30px;
  color: white;
  cursor: pointer;
}


@media (max-width: 768px) {
  .navbar {
    position: relative;
    flex-wrap: wrap;
  }


  .menu-toggle {
    display: block;
    position: absolute;
    right: 20px;    
    top: 20px;
    z-index: 10;
  }


  .navbar-left,
  .navbar-right {
    display: none;
  }

  
  .navbar.active .navbar-left,
  .navbar.active .navbar-right {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    background-color: #0d0d0d;
    padding: 15px 0;
    gap: 10px;
  }

  .navbar img {
    margin-right: auto;
  }
}
  }